html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root{
    --background-color: white;
    --text-color: black;
}

body {
    padding: 16px;
    background: var(--background-color);
    color: var(--text-color);  
}

.button {
    display: flex;
    justify-content: flex-end;

}

.button__toggle {
    border: none;
    background-color: transparent;
    font-size: 32px;
}