html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    padding: 16px
}

.button {
    display: flex;
    justify-content: flex-end;

}

.button__toggle {
    border: none;
    background-color: transparent;
    font-size: 32px;
}