@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;500;800;900&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --background-color: white;
  --text-color: #d23669;
}

body {
  padding: 16px;
  background: var(--background-color);
  color: var(--text-color);
  font-family: "MuseoModerno", cursive;
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 500;
}
  
.content {
  font-weight: 300;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.button__toggle {
  border: none;
  background-color: transparent;
  font-size: 32px;
}
